button{
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: var(--font-size-4);
    background-color: var(--color-grey-700);
    cursor: pointer;
}
.btn-top{
    width: 50%;
    background-color: var(--color-grey-200);
    color: var(--color-grey-600);
    
}