button{
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    font-size: var(--font-size-4);
    background-color: var(--color-grey-700);
    cursor: pointer;
}
button:hover{
    color: var(--color-grey-700);
    background-color: var(--color-brand-100);
}
button:focus{
    color: var(--color-grey-700);
    background-color: var(--color-brand-200);
}
button:active{
    color: var(--color-grey-700);
    background-color: var(--color-brand-200);
}
button::selection{
    color: var(--color-grey-700);
    background-color: var(--color-brand-200);
}
.button-click{
    color: var(--color-grey-700);
    background-color: var(--color-brand-200);
}
.btn-top{
    width: 50%;
    background-color: var(--color-grey-200);
    color: var(--color-grey-600);
    
}
.btn-top:hover{
    color: var(--color-grey-700);
    background-color: var(--color-grey-300);
}