small{
    color: var(--color-brand-100);
    font-size: var(--font-size-1);
    font-weight: 600;
    line-height: 60px;
}
.title1{
    font-size: var(--font-size-1);
    font-weight: 600;
    line-height: 60px;
    color: var(--color-grey-100);
}
.text1{
    font-size: var(--font-size-4);
    color: var(--color-grey-100);
    line-height: 24px;
    font-weight: 400;
}
